!!! 5
%html
  %head
    %title Wildfire Programming Challenge
    = stylesheet_link_tag 'bootstrap','autoSuggest','application'
    = javascript_include_tag 'jquery','jquery.autoSuggest'
    = csrf_meta_tag

  %body
    .container.main
      #header
        .row
          .span4
            %h3=link_to "WildFire Challenge",root_path  
          .span8=render 'facebook/name_picker'
          .span4=facebook_login_button('large')
        
      #content
        #fb-root
        = yield

:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: #{FACEBOOK_APP_ID}, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
